<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="yalantis.com.sidemenu.sample">

    <application
        android:allowBackup="true"
        android:icon="@drawable/appicon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MemBookActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/mem_book" />
        <activity
            android:name=".EditActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/mem_book" />
        <activity
            android:name=".MyMemBookActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/mem_book" />
        <activity
            android:name="com.jiadr2368.ShowNoteActivity"
            android:label="@string/title_activity_show_note"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.jiadr2368.EditNoteActivity"
            android:label="@string/title_activity_edit_note"
            android:theme="@style/AppTheme" />
    </application>

</manifest>